
@media only screen and (max-width: 1920px) {
    .logo{
        margin-left: 380px;
    }
    .novinki-txt{
        margin-left: 380px;
    }
    .links{
        margin-right: 380px;
    }
    .screen-four{
        margin-left: 380px;
    }
    .c1000{
        display: none;
    }
    .c768{
        display: none;
    }
    .c480{
        display: none;
    }
    .c320{
        display: none;
    }
    .cat320{
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .logo{
        margin-right: 60px;
        margin-left: 60px;
    }
    .novinki-txt{
        margin-left: 60px;
    }
    .links{
        margin-right: 80px;
    }
    .screen-four{
        margin-left: 380px;
    }
    .c1920{
        display: none;
    }
    .c1000{
        display: flex;
    }
    .novinki-box:nth-child(3){
        display: none;
    }
    .novinki-btn{
        margin-left: 420px;
    }
    .screen-three{
        display: flex;
        gap: 100px;
    }
    .img1{
        display: none;
    }
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }
    .img4{
        display: none;
    }
    .c768{
        display: none;
    }
    .c480{
        display: none;
    }
    .c320{
        display: none;
    }
    .cat320{
        display: none;
    }
}
@media only screen and (max-width: 1600px) {
    .logo{
        margin-left: 190px;
    }
    .novinki-txt{
        margin-left: 190px;
    }
    .links{
        margin-right: 190px;
    }
    .screen-four{
        margin-left: 190px;
    }
    .c768{
        display: none;
    }
    .c480{
        display: none;
    }
    .c320{
        display: none;
    }
    .cat320{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .logo{
        margin-left: 50px;
    }
    .novinki-txt{
        margin-left: 50px;
    }
    .links{
        margin-right: 50px;
    }
    .screen-four{
        margin-left: 50px;
    }
    .c768{
        display: flex;
    }
    .c1000{
        display: none;
    }
    .c1920{
        display: none;
    }
    .c480{
        display: none;
    }
    .novinki-btn{
        margin-left: 300px;
    }
    .c480{
        display: none;
    }
    .c320{
        display: none;
    }
    .cat320{
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    .logo{
        margin-left: 200px;
    }
    .novinki-txt{
        margin-left: 50px;
    }
    .links{
        display: none;
    }
    .screen-four{
        margin-left: 50px;
    }
    .c768{
        display: none;
    }
    .c1000{
        display: none;
    }
    .c1920{
        display: none;
    }
    .novinki-btn{
        margin-left: 165px;
    }
    .screen-two-novinki{
        display: flex;
        flex-direction: column;
        margin-left: 70px;
    }
    .screen-three{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .hudi{
        display: none;
    }
    .screen-four{
        margin-left: 100px;
    }
    .c480{
        display: none;
    }
    .c320{
        display: none;
    }
    .cat320{
        display: none;
    }
}
@media only screen and (max-width: 320px) {
    .c480{
        display: none;
    }
    .c768{
        display: none;
    }
    .c1000{
        display: none;
    }
    .c1920{
        display: none;
    }
    .c320{
        display: flex;
    }
    .logo{
        margin-left: 120px;
        margin-right: 0px;
    }
    .screen-two-novinki{
        display: none;
    }
    .screen-four{
        margin-left: 40px;
    }
    .cat320{
        display: flex;
        margin-left: 10px;
    }
    .novinki-btn{
        width: 150px;
        height: 40px;
        margin-left: 80px;
    }
    .screen-three{
        gap: 0px;
    }
}
