*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 60px;
    max-width: 1920px;
    background-color: #FDA3C4;
    color: white;

}
.contacts{
    display: flex;
    gap: 10px;
}
.links{
    display: flex;
    gap: 20px;
    margin-right: 190px;
}
.links a{
    color: white;
}
a{
    text-decoration: none;
}
.logo{
    margin-left: 190px;
}
.logo h1{
    font-size: 40px;
    font-family: 'Satisfy';
}
.screen-one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 1920px;
}
.novinki-txt{
    font-size: 55px;
    margin-left: 190px;
    margin-top: 50px;
    font-family: 'Amatic SC';

    color: #FDA3C4;
}
.screen-two-novinki{
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-top: 10px;
    max-width: 1920px;
}
.novinki-box{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.nv-box{
    display: flex;
    flex-direction: column;
}
.nv-box-text{
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-top: 10px;
}
.price{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #FDA3C4
}
.novinki-btn{
    width: 150px;
    height: 50px;
    color: white;
    background-color: #FDA3C4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 670px;
    margin-top: 50px;
    font-size: 22px;
    font-family: 'Amatic SC';
}
.sc3-box{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 60px;
}
.screen-three{
    display: flex;
    justify-content: center;
    gap: 220px;
    max-width: 1920px;
}
.screen-four{
    display: flex;
    gap: 20px;
    margin-left: 180px;
    margin-top: 50px;
}
.sc4-text h1{
    font-size: 85px;
    font-family: 'Amatic SC';
}
.sc4-text{
    display: flex;
    flex-direction: column;
}
.sc4-text h3{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 51px;
    color: #F40000
}
.soc-seti{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}
.map{
    margin-top: 50px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 60px;
    max-width: 1920px;
    background-color: #FDA3C4;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}
