*{
    margin: 0;
    padding: 0;
    font-family: 'Stem';
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;
    padding: 20px;
    max-width: 1920px;
}
.logo h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    margin-left: 10px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    font-size: 20px;
    color: #000000;
}
a{
    text-decoration: none;
    color: black;
}
.button-div button{
    width: 160px;
    height: 50px;

    background-color: #F86630;
    border: none;
    border-radius: 25px;
    color: white;
    margin-left: 30px;
}
.img-div{
    width: 98%;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    background-color: bisque;
    border-radius: 30px;
    max-width: 1920px;
}
.catalog{
    max-width: 1920px;
}
.catalog-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.catalog-text h1{
    font-size: 40px;
}
.catalog-text p{
    font-size: 20px;
}
.catalog-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px;
}
.boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box{
    width: 300px;
    height: 400px;    
    border: grey;
    background-color: #FFE4C4;
    border-radius: 30px;
}
.button-div-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-div-2 button{
    width: 160px;
    height: 50px;

    background-color: #F86630;
    border: none;
    border-radius: 25px;
    color: white;
    margin-left: 30px;
    cursor: pointer;
}
.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    max-width: 1920px;
}
.contact-text h1{
    font-size: 40px;
}
.social{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 1920px;
}
.map{
    margin-top: 50px;
    max-width: 1920px;
}
footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

    background-color: black;
    color: white;
}